@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#navigationWeb ul li a {
  font-size: 0.9em;
}

.slick-prev,
.slick-next {
  cursor: pointer;
  color: #0000;
  background: none;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  position: absolute;
  top: 80% !important;
  transform: translate(0, -50%) !important;
}

.slick-prev:before,
.slick-next:before {
  opacity: 0.5 !important;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: slick;
  font-size: 100px !important;
  line-height: 1;
}

.slick-prev {
  left: 5% !important;
}

.slick-next {
  left: 14% !important;
}

.slick-prev:before {
  transform: rotate(45deg);
  display: inline-block;
}

.slick-next:before {
  transform: rotate(-45deg);
  display: inline-block;
}

.quick-find-list > li p {
  /* line-height: 0px; */
  font-size: 1.2em;
  margin-bottom: 12px;
  padding: 4px 10px 4px 10px;
}

.quick-find-list > li p:hover {
  /* line-height: 0px; */
  font-size: 1.2em;
  background-color: rgba(251, 146, 60, 1);
  margin-bottom: 12px;
  padding: 4px 10px 4px 10px;
  border-radius: 0.2em;
  color: white;
  transition: all;
  cursor: pointer;
}

.quick-find-list > li ul.child {
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}
/* 
.quick-find-list > li ul.child li {
  line-height: 2em;
} */
